.container {
  width: 695px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: rgb(26, 165, 149);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid rgba(5, 41, 41, 0.94);
}



.column {
  width: 31%;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(152, 234, 208);
  margin: 5px;
  font-family: sans-serif;
}

h2 {
  margin: 10px;
}

.card {
  color: #63e6c9;
  border: 2px solid (5, 41, 41, 0.94);
  background-color: rgb(208, 249, 235);
  border-radius: 5px;
  min-height: 40px;
  padding: 20px;
  margin: 5px;
  box-sizing: border-box;
  color: #63e6c9;
  position: relative;
  font-family: sans-serif;
}

.empty {
  background-color: rgb(127, 209, 182);
  border-radius: 5px;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  color: rgb(152, 234, 208);
  z-index: 10;
  margin: 5px;
}

p {
  margin: 0;
} 

.button-add {
  width: 40px;
}

.add-button {
  margin: 10px;
}

.close {
  width: 15px;
  height: 15px;
  padding: 0;
  background-image: url("../img/close.svg");
  position: absolute;
  right: 0px;
}

.card.dragged {
  border: 2px solid rg(5, 41, 41, 0.94);
  background-color: rgb(208, 249, 235);
  border-radius: 5px;
  min-height: 10px;
  padding: 20px;
  margin: 5px;
  position: absolute;
  z-index: 50;
}